<div class="menu-header">
  <div class="app-name">
    <a href="#">SPACE</a>
  </div>
    <p>connecting the world in space</p>
  <div class="btns">  
    <div class="login-btn">
      <input type="submit" value="ログイン"/>
    </div>
    <div class="sign-up-btn">
      <input type="submit" value="新規登録"/>
    </div>
  </div>
</div>

<div class="menu">
  <div class="menu-btn">
    <input type="submit" value="投稿する"/>
    <input type="submit" value="知る"/>
    <input type="submit" value="旅してみる"/>
    <input type="submit" value="環境問題について考える"/>
  </div>
</div>

<div class="form">
</div>