.post-list {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.post {
  display: flex;
  flex-direction: column;
  line-height: 0.6;
}

.nickname {
  color: white;
  list-style: none;
  margin-top: 0px;
  padding: 0px;
}