.menu-header {
  background-color: #ffffff77;
  height: 80px;
  padding: 13px;
  display: flex;
  justify-content: space-between;
}

.app-name a {
  font-size: 40px;
  color: rgb(59, 63, 65);
  text-decoration: none;
  text-shadow: 
		0 0.05em 0.08em rgba(0,0,0,0.7);
}

p {
  font-size:1em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #a5b7ff;
	text-shadow: 
		0 0.05em 0.08em rgba(0,0,0,0.7);
  margin-left: 80px;
}

.nav {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
  padding: 1vh 50px;
}

.btns {
  display: flex;
  justify-content: center; /* 横方向に中央揃え */
  margin-top: 10px;
  list-style: none;
  width: 100%;
}

.user-nickname {
  text-decoration: none;
  margin-top: 0.5vh;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  width: 100px; /* 幅を縮める */
  display: flex; /* フレックスコンテナにする */
  justify-content: center; /* 横方向に中央揃え */
  align-items: center; /* 縦方向に中央揃え */
}

.logout {
  text-decoration: none;
  color: black;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(197, 193, 193);
  width: 100px; /* 幅を縮める */
  display: flex; /* フレックスコンテナにする */
  justify-content: center; /* 横方向に中央揃え */
  align-items: center; /* 縦方向に中央揃え */
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: black;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(197, 193, 193);
  width: 100px; /* 幅を縮める */
  display: flex; /* フレックスコンテナにする */
  justify-content: center; /* 横方向に中央揃え */
  align-items: center; /* 縦方向に中央揃え */
}

.sign-up {
  text-decoration: none;
  color: black;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(197, 193, 193);
  width: 100px; /* 幅を縮める */
  display: flex; /* フレックスコンテナにする */
  justify-content: center; /* 横方向に中央揃え */
  align-items: center; /* 縦方向に中央揃え */
}

.menu-header.btns {
  display: flex;
  flex-direction: row;
}

.menu-header .btns > div {
  margin-right: 10px;
}

.menu {
  background-image: url("宇宙.jpg");
  background-size: 95%;
  height: calc(100vh - 80px - 50px);
  display: flex;
  justify-content: center;
  text-decoration: none;
  flex-wrap: wrap;
}

.menu-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  padding: 50px;
}

.post-btn {
  text-decoration: none;
  background-color: white;
  color: black;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  margin: 20px;
}

.posts-info-main {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
}

.posts-info-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.weight-bold-text {
  font-weight: bold;
  width: 100%;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
  margin-bottom: 30px;
}

.posts-explain {
  margin-top: 20px;
}

.posts-text {
  width: 100%;
  height: 30px;
}

.posts-info-text {
  width: 100%;
  height: 200px;
}

.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 0px 20px 10px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
  color: black;
}

.new-items {
  display: flex;
  width: 100px;
}

.items-text {
  font-size: 15px;
  min-width: 250px;
}

.posts-btn-contents {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.posts-btn {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(197, 193, 193);
  margin: 20px;
  width: 300px;
}

.back-btn {
  text-decoration: none;
  color: black;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 25px;
}

.form {
  background-color: #02020233;
  height: 50px;
  padding: 20px;
  background-image: url("惑星.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}