.menu-header {
  background-color: #ffffff77;
  height: 80px;
  padding: 13px;
  display: flex;
  justify-content: space-between;
}

.app-name a {
  font-size: 40px;
  color: rgb(59, 63, 65);
  text-decoration: none;
}

p {
  font-size:1em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #a5b7ff;
	text-shadow: 
		0 0.05em 0.08em rgba(0,0,0,0.7);
  margin-left: 80px;
}

.nav {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
  padding: 1.5vh 50px;
}

.btns {
  display: flex;
  text-align: center;
  list-style: none;
  align-items: center;
  margin-top: 10px;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: black;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(197, 193, 193);
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: black;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(197, 193, 193);
}

.sign-up {
  text-decoration: none;
  color: black;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(197, 193, 193);
}

.menu-header.btns {
  display: flex;
  flex-direction: row;
}

.menu-header .btns > div {
  margin-right: 10px;
}

.menu {
  background-image: url("宇宙.jpg");
  background-size: 95%;
  height: calc(100vh - 80px - 50px);
  display: flex;
  justify-content: center;
}

.menu-btn {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction:column;
  font-size: 20px;
  padding: 50px;
}

.menu-btn input[type="submit"] {
  margin-bottom: 20px;
  height: 40px;
  width: 300px;
  border-radius: 5px;
  justify-content: center;
}

.form {
  background-color: #02020233;
  height: 50px;
  padding: 20px;
  background-image: url("惑星.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}